/* Reset by Joshua Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

/* @font-face {
  font-family: "Montserrat";
  src: url("assets/montserrat-variablefont_wght-webfont.woff2")
      format("woff2-variations"),
    url("assets/montserrat-variablefont_wght-webfont.woff")
      format("woff-variations");
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
} */
/* this is supper thin & not visible... */

@font-face {
  font-family: "Fraunces";
  src: url("assets/fraunces-variablefont_softwonkopszwght-webfont.woff2")
      format("woff2-variations"),
    url("assets/fraunces-variablefont_softwonkopszwght-webfont.woff")
      format("woff-variations");
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

:root {
  --clr-greeny: hsl(158, 36%, 37%);
  --clr-dark-greeny: hsl(158, 36%, 20%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-dark-blue: hsl(212, 21%, 14%);
  --clr-grayish-blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-body: "Montserrat", sans-serif;
  --ff-title: "Fraunces", serif;

  --fs-normal: 0.875rem;

  --fw-normal: 500;
  --fw-bold: 700;
}

/* Global Styles */
body {
  background-color: var(--clr-cream);
  font-family: var(--ff-body);
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  color: var(--clr-grayish-blue);
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin: 1rem;
}

/* Utility Styles */

.flex-group {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  flex-wrap: wrap;
}

/* Visually Hidden - Tip from Kevin Powell */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button {
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-greeny);
  border-radius: 0.5rem;
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  font-size: var(--fs-normal);
  padding: 0.7rem;
}

.button[data-icon="shopping-cart"]::before {
  content: "";
  background-image: url("images/icon-cart.svg");
  width: 15px;
  height: 16px;
}

.button:is(:hover, :focus) {
  background-color: var(--clr-dark-greeny);
}

/* Product Styles */
.product {
  --content-padding: 1.2rem;
  --content-spacing: 1rem;
  background-color: var(--clr-white);
  display: grid;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px;
}
@media (min-width: 600px) {
  body {
    margin: 0.2rem;
  }

  .product {
    grid-template-columns: 1fr 1fr;
    --content-padding: 2rem;
  }
}

.product__content {
  display: grid;
  padding: var(--content-padding);
  gap: var(--content-spacing);
  letter-spacing: 0.05rem;
}

.product__description {
  letter-spacing: 0.07rem;
}

.product__tag {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.product__title {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  color: var(--clr-dark-blue);
  font-size: 2rem;
  line-height: 1;
}

.product__discount-price {
  font-size: 2rem;
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  color: var(--clr-greeny);
}
