@font-face {
  font-family: "Montserrat";
  src: url("assets/montserrat-variablefont_wght-webfont.woff2"),
    url("assets/montserrat-variablefont_wght-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url("assets/fraunces-variablefont_wght-webfont.woff2") format("woff2"),
    url("assets/fraunces-variablefont_wght-webfont.woff") format("woff");
  /* font-weight: normal; */
  font-style: normal;
}

:root {
  --clr-greeny: hsl(158, 36%, 37%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-dark-blue: hsl(212, 21%, 14%);
  --clr-grayish-blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);

  --fs-normal: 14px;
  --fs-small: 10px;
  --fs-medium: 20px;
  --fs-large: 22px;
  --fs-xxl: 25px;
}

body {
  font-family: "Fraunces";
  font-weight: 550;
}
